//- Navigation
nav.Navigation__container
	ul.Navigation__list
		li.Navigation__list__item
			a(href='#') home
		li.Navigation__list__item
			a(href='#') about
		li.Navigation__list__item
			a(href='#') music
		li.Navigation__list__item
			a(href='#') shows
		li.Navigation__list__item
			a(href='#') contact
